@model Department


<div class="mb-3">
	<label asp-for="@Model.Code"></label>
	<input asp-for="@Model.Code" class="form-control" readonly />

</div>
<div class="mb-3">
	<label asp-for="@Model.Name"></label>
	<input asp-for="@Model.Name" class="form-control" readonly />

</div>
<div class="mb-3">
	<label asp-for="@Model.CreateAt"></label>
	<input asp-for="@Model.CreateAt" class="form-control" readonly />

</div>